{% extends 'base.html.twig' %}

{% block title %}Schedule an Appointment{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
    {# encore_entry_script_tags('form') #}
    {{ encore_entry_script_tags('howthisworks') }}
{% endblock %}

{% block header %}Schedule an Appointment{% endblock %}

{% block body %}
<div class="container">
  <div>
    <div id="notifications" data-success={{ success }}></div>
    <div id="howthisworks"></div>
    <div class="row">
      <div class="col-sm">
        <div id="react"></div>
      </div>
      <div class="col-sm">
        <div id="form">
          {{ form_start(form) }}
          <div class="form-row row">
            <div class="col-sm">
              {{ form_row(form.Name) }}
            </div>
            <div class="col-sm">
              {{ form_row(form.Email) }}
            </div>
          </div>

          <div class="form-row row">
            <div class="col-sm">
              {{ form_row(form.Subject) }}
            </div>
            <div class="col-sm">
              {{ form_row(form.Location) }}
            </div>
          </div>

          <div class="form-row row">
            {{ form_row(form.Category) }}
          </div>

          <div class="form-row row">
            <div class="col-sm">
              {{ form_row(form.StartAt) }}
            </div>
            <div class="col-sm">
              {{ form_row(form.EndAt) }}
            </div>
          </div>

          <div class="form-row row">
            <div class="col-sm">
              {{ form_row(form.Notes) }}
            </div>
            <div class="col-sm">
              {{ form_row(form.FurtherAttendees) }}
            </div>
          </div>

          <div class="form-row row">
            {{ form_row(form.Submit) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
