{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block header %}Admin Panel{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
<div class="container">
  <div id="admin"></div>
</div>
{% endblock %}
