<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="/media/logo_white.svg" height="30"/></a>
          <div class="navbar-right" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link {% block cocktailsactive %}{% endblock %}" aria-current="page" href="/admin">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="bg-dark text-light" id="header">
        <center>
          <h1>{% block header %}{% endblock %}</h1>
        </center>
      </div>
      <div style="margin-bottom: 20px;">
        {% block body %}{% endblock %}
      </div>
    </body>
</html>
