{% extends 'base.html.twig' %}

{% block title %}Edit Entry{% endblock %}

{% block header %}Edit Entry: {{ title }}{% endblock %}

{% block body %}
<div class="container">
  {{ form(form) }} 
</div>
{% endblock %}
